@import '~breakpoint-sass/stylesheets/breakpoint'

@import '../styles/colours'
@import '../styles/grid'
@import '../styles/typography'


.post
  margin-top: $spacer
  background-color: $white
  box-shadow: 0 2px 2px darken($body-bg, 10%)

  p
    a:not(.custom)
      +link-underlines($card-color, $gray)
      color: $purple

.postAppear
  transform: translateY(100%)
  opacity: .01

.postAppear.postAppearActive
  transform: translateY(0)
  transition-duration: 300ms
  transition-property: opacity, transform
  transition-timing-function: cubic-bezier(.075, .82, .165, 1)
  opacity: 1

.postDate
  +page-padding
  margin: 0
  color: $blue-light
  font-family: $font-family-dense
  line-height: .8em
  text-transform: uppercase


.postTitle
  +page-padding
  margin: 0
  padding-top: map-get($spacers, 5)
  line-height: .8em


.postContent
  +page-padding
  padding-bottom: map-get($spacers, 5)
