@import '../../styles/buttons'
@import '../../styles/colours'
@import '../../styles/typography'


.tags
  display: flex
  justify-content: flex-start
  margin: $spacer auto

.tag
  composes: tag from '../Nav/nav.module.sass'
  margin-right: 20px
  padding-top: 4px
  background-color: $blue-lighter
  font-size: 20px
  line-height: 20px

  &::before
    top: 11px
    right: -6px
    width: 5px
    height: 5px
    background-color: $white

  &::after
    border-top-width: 13px
    border-bottom-width: 13px
    border-left-width: 13px
    border-left-color: $blue-lighter

  &:hover
    background-color: $purple
    color: $white

    &::after
      border-left-color: $purple
