@import '~breakpoint-sass/stylesheets/breakpoint'

@import '../../styles/grid'
@import '../../styles/typography'

.hero
  width: 100%

.heroPadded
  margin-right: $spacer
  margin-left: $spacer
  padding-top: map-get($spacers, 4)

  .bigWrapper
    top: map-get($spacers, 4)

  +breakpoint(map-get($grid-breakpoints, md))
    margin-right: map-get($spacers, 4)
    margin-left: map-get($spacers, 4)

  +breakpoint(map-get($grid-breakpoints, lg))
    margin-right: map-get($spacers, 5)
    margin-left: map-get($spacers, 5)

  +breakpoint(map-get($grid-breakpoints, xl))
    margin-right: map-get($spacers, 6)
    margin-left: map-get($spacers, 6)
