@import '~breakpoint-sass/stylesheets/breakpoint'

@import '../../styles/grid'
@import '../../styles/typography'


.image
  position: relative

  img
    display: inline-block
    width: 100%
    margin: 0

.edge2edge
  margin-right: $spacer
  margin-left: $spacer
  padding-top: map-get($spacers, 4)

  .bigWrapper
    top: map-get($spacers, 4)

  +breakpoint(map-get($grid-breakpoints, md))
    margin-right: map-get($spacers, 4)
    margin-left: map-get($spacers, 4)

  +breakpoint(map-get($grid-breakpoints, lg))
    margin-right: map-get($spacers, 5)
    margin-left: map-get($spacers, 5)

  +breakpoint(map-get($grid-breakpoints, xl))
    margin-right: map-get($spacers, 6)
    margin-left: map-get($spacers, 6)


.bigWrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 2

.big
  transition: opacity 1s ease-in
  opacity: 0

.bigLoaded
  composes: big
  opacity: 1

.loader
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  color: $white
  z-index: 1
