// https://coolors.co/6e8898-9fb1bc-d3d0cb-e2c044-322342
$light-slate-gray: #6e8898
$wild-blue-yonder: #9fb1bc
$light-gray: rgba(211, 208, 203, 1)
$meat-brown: rgba(226, 192, 68, 1)
$russian-violet: rgba(50, 35, 66, 1)

$blue-dark: $light-slate-gray
$blue-light: $wild-blue-yonder
$blue-lighter: adjust-color($blue-light, $lightness: 20%, $saturation: 10%)

$purple: $russian-violet

$white: #fff
$gray-light: adjust-color($light-gray, $lightness: 15%, $saturation: -10%)
$gray: $light-gray
$gray-dark: adjust-color($light-gray, $lightness: -30%, $saturation: -15%)

$body-bg: $blue-dark
$text-color: darken($blue-dark, 17%)
$card-color: $white
