@import '../../styles/colours'
@import '../../styles/typography'


.feature
  width: 100%
  margin-bottom: $spacer

.icon
  color: $blue-dark
  text-align: center
  animation-name: wiggle
  animation-duration: 3s
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out


  & > div
    position: relative
    display: inline-block
    font-size: 42px
    line-height: 84px
    width: 80px

    .balloon
      display: block
      position: absolute
      top: 0
      left: 0
      width: 120px
      border-radius: 100%
      border: 1px solid $gray-light


.title
  margin-top: map-get($spacers, 1)
  text-align: center

.content
  font-size: 0.8em
  font-family: $font-family-sans-serif

@keyframes wiggle
  0%, 85%, 100%
    transform: rotate(0deg)
  88%, 94%
    transform: rotate(5deg)
  91%, 97%
    transform: rotate(-5deg)
