@import '../../styles/colours'
@import '../../styles/typography'

.card
  background-color: $card-color
  box-shadow: 0 2px 2px darken($body-bg, 10%)
  display: block
  height: 100%
  width: 100%

  img
    display: block
    margin: 0
    width: 100%


.cardTitle,
.cardExcerpt
  color: $text-color
  padding-left: map-get($spacers, 2)
  padding-right: map-get($spacers, 2)

  &:hover
    text-decoration: none


.cardTitle
  margin-bottom: map-get($spacers, 2)
  margin-top: map-get($spacers, 2)


.cardExcerpt
  font-family: $font-family-sans-serif
  font-size: .8em
