@import '../styles/colours'
@import '../styles/grid'

@font-face
  font-family: 'Dense'
  font-style: normal
  font-weight: 300
  src: url('../assets/fonts/dense.woff2') format('woff2'), url('../assets/fonts/dense.woff') format('woff')

html, body, body > div
  height: 100%

body
  background-color: $body-bg
  color: $text-color
